* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Space Mono", monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.intro {
  width: 100%;
  color: white;
  background-color: black;
  height: 60px;
  padding: 20px;
  text-align: center;
}

.intro h4 {
  opacity: 0.95;
}
.nav-bar {
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  padding: 10px;
}
.nav-items {
  display: flex;
  gap: 80px;
}
.nav-item a {
  text-decoration: none;
  color: rgb(81, 58, 58);
  transition: all 0.1s;
}

.nav-item a:hover {
  color: #b21919;
  border-bottom: 4px solid #b21919;
}
.nav-bar img {
  height: 100px;
  width: 100px;
  margin-left: 60px;
}

li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.logo-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-name h1 {
  font-size: 2rem;
  color: #913535;
}

.main-timer {
  margin-top: 30px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.timer-buttons {
  display: flex;
  align-items: center; /* Align items vertically at the center */
  gap: 20px; /* Adjust the gap between the buttons */
}

.timer-icon {
  font-size: 48px;
  color: #fe6f6b;
  cursor: pointer;
}

.timer-icon:hover {
  color: #b21919; /* Set the color on hover */
}

.timer-dropdown {
  cursor: pointer;
  font-weight: 700;
  margin-left: 15px;
  font-size: large;
  padding: 8px;
  background-color: #fe6f6b;
  color: white;
  border: none;
  border-radius: 4px;
}
.timer-dropdown:hover {
  background-color: #b21919;
}
